.container{
    width:70%;
    height:70vh;
    border-radius:5px;
    color:white;
    display:flex;
    margin:40px auto;
}
.flex{
    display:flex;
    width:80%
}
ul li{
    align-items: center;
    height:40px;
    line-height:40px;
    text-align:center;
}
ul li a{
    list-style:none;
    color:white;
    text-decoration: none;
}
ul li:hover{
   background:#4F5A69;
}
ul li:active {
    background:#FD4848;
 }

nav{
    width:20%;
    height:100%;
    background:#3A4556;
    border-radius:5px;
}
.secondSection{
    width:24%;
    height:100%;
    color:black;
    padding-left:20px;
}
.hr{
    border-bottom: 1px solid #DEE2E8;
    margin-bottom:10px;
    padding:10px;
    font-weight:bold;
    font-size: 19px;
    color:black;
}
.small{
    font-size: 13px;
    font-weight: 200;
    color:rgba(0,0,0,0.7)
}
.right{
    width:56%;
    height:100%;
    padding-left:20px;
}
.heading1{
    font-weight: bold;
    color:black;
}
.text{
    color:black;
    margin-top:10px;
}
.text a{
    color:#2769CD;
}